# TODO(b/36657258): Remove data_between_core_and_vendor_violators once
# hostapd no longer directly accesses /data outside /data/vendor.
typeattribute hal_wifi_hostapd_default data_between_core_and_vendor_violators;
# hostapd can read and write WiFi related data and configuration.
allow hal_wifi_hostapd_default wifi_data_file:file rw_file_perms;
r_dir_file(hal_wifi_hostapd_default, wifi_data_file)

# hostapd wants to create the directory holding its control socket.
allow hal_wifi_hostapd_default hostapd_data_file:dir create_dir_perms;
# hostapd needs to create, bind to, read, and write its control socket.
allow hal_wifi_hostapd_default hostapd_data_file:sock_file create_file_perms;
